# Directories
/.my127ws
/.docker-sync/
/bin/
/tools/assets/
/vendor/

# Files
/.dockerignore
/.console.bash_history
/auth.json
/docker-compose.yml
/docker-sync.yml
/env.sh
/mutagen.yml
/mutagen.yml.lock
/workspace.override.yml
